.Wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.add {
  display: block;
  width: 6vw;
  height: 100px;
  transform: translate(60%, 30%);
  color: red;
}

.text {
  position: absolute;
  top: 2vh;
  left: 86.5vw;
}

.imm {
  transform: translate(220px, 0px);
}

.im {
  transform: translate(78px, -5px);
}
