* {
  list-style-type: none;
  text-align: center;
}

input {
  margin: 0 10px 0 10px;
  text-align: left;
}

button {
  margin-left: 10px;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

.columnsWrapper {
  display: flex;
  height: calc(100vh - 100px);
}
