* {
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}

input {
  margin: 0 10px 0 10px;
  text-align: left;
}

button {
  margin-left: 20px;
  padding: 5px;
  background-color: transparent;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

.appWrapper {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
}

.columnsWrapper {
  display: flex;
  height: calc(100vh - 100px);
  border: 3px solid white;
}

li:hover {
  color: #ff4800;
  transform: scale(1.1);
}
